<div class="container" ng-controller='EnvelopesCtrl' ng-init='getEnvelopes()'>
    <h3 class="panel-heading">ENVELOPES</h3>

	
	<div align="left" style="padding-bottom: 12px; padding-left: 12px;">
		<a href="" ng-click="udpateEnvelope()" class="glyphicon glyphicon-add">+ Update ENVELOPE</a>
	</div>
	
	<div align="left" style="padding-bottom: 12px; padding-left: 12px;">
		<a href="" ng-click="createEnvelope()" class="glyphicon glyphicon-add">+ Create ENVELOPE</a>
	</div>
	
    <br><br>
	
	<!-- https://angular-ui.github.io/bootstrap/ -->
	<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Edit Category</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
                            					<label>Category :</label>
								<select class="form-control" id="editCategory">
									<option> Select Category </option>
									<option selected="selected">Groceries</option>
									<option>Education</option>
									<option>Entertainment</option>
									<option>Gifts/Donations</option>
									<option>Healthcare/Medical</option>
									<option>Shopping</option>
									<option>Savings/Investment</option>
									<option>Insurance</option>
									<option>Income</option>
									<option>Personal Care</option>
									<option>Housing</option>
									<option>Taxes</option>
									<option>Travel</option>
									<option>Children/Dependent Expenses</option>
									<option>Bank Activity</option>
									<option>Automotive Expenses</option>
									<option>Business</option>
									<option>Debt</option>
									<option>Utilities</option>
									<option>Leisure</option>
								</select>
                					</div>
							<div class="col-md-12">
								<label>Amount ($) :</label>
								<input type="text" class="form-control" id="editAmount">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
						<button type="button" class="btn btn-primary btn-save" ng-click="ok()">Save changes</button>
					</div>
				</div>
    </script>

	<div align="left" style="padding-bottom: 12px; padding-left: 12px;">
		<a href="" ng-click="open()" class="glyphicon glyphicon-add">+ ENVELOPE</a>
	</div>

	</div>
	
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr bgcolor="#00E600">
            <th>Category</th>
            <th>Amount</th>
            <th>Spent</th>
            <th>Balance</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "envelope in envelopes">
            <td>{{envelope.category}}</td>
            <td>{{envelope.amount}}</td>
            <td>{{envelope.spent}}</td>
            <td>{{envelope.balance}}</td>
            <td><span class="glyphicon glyphicon-pencil"></span></td>
            <td><span class="glyphicon glyphicon-trash"></span></td>
        </tr>
        </tbody>
    </table>
</div>
