<div class="container" ng-controller='EnvelopesCtrl' ng-init='getEnvelopes()'>
    <h3 class="panel-heading">ENVELOPES</h3>
    <br><br>
	<div align="left" style="padding-bottom: 12px; padding-left: 12px;">
		<a href="" ng-controller='ModalDemoCtrl' ng-click="open()" class="glyphicon glyphicon-add">+ ENVELOPE</a>
	</div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr bgcolor="#00E600">
            <th>Category</th>
            <th>Amount</th>
            <th>Spent</th>
            <th>Balance</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "envelope in envelopes" ng-controller='ModalDemoCtrl'>
            <td>{{envelope.category}}</td>
            <td>{{envelope.amount}}</td>
            <td>{{envelope.spent}}</td>
            <td>{{envelope.balance}}</td>
            <td><span class="glyphicon glyphicon-trash"></span></td>
        </tr>
        </tbody>
    </table>
</div>
